body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}

input,
textarea,
button {
  font-size: 1rem;
}

button {
  border: 2px solid #72767b;
  border-radius: 0.3rem;
}

input:disabled,
textarea:disabled {
  box-shadow: inset 0px 0px 90px rgba(0, 0, 0, 0.1);
}
input[type="checkbox"]:disabled {
  box-shadow: none;
}

input[name="KeyFile"],
textarea[name="KeyText"]:disabled {
  visibility: hidden;
}

.FileKeyLabel {
  font-weight: 600;
  width: 8rem;
  background-color: rgb(239, 239, 239);
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.3rem;
  text-align: center;
  margin-right: 0.5rem;
}

.checkBoxGroup {
  margin-bottom: 0.5rem;
}

.wrapper {
  margin-top: 3rem;
  margin-left: 20%;
  padding: 1rem;
  width: 60%;
  min-width: 400px;
  min-height: 50vh;
  background-color: aliceblue;
  border: #c3c3c3 2px solid;
  border-radius: 0.3rem;
  filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.459));
}

.list {
  display: flex;
  flex-flow: column nowrap;
  padding-inline-start: 0px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 10;
}

.listTilte {
  width: -webkit-fill-available;
  display: inline-flex;
  align-self: stretch;
  justify-content: space-between;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  margin: 0.2rem;
  margin-top: 1rem;
  border: #72767b solid 2px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: rgb(223, 223, 223);
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20vh;
  padding: 2rem;
  min-width: 18vw;
  width: fit-content;
  background: white;
  height: fit-content;
  z-index: 20;
}

.messageWrapper {
  margin: 0.5rem 0rem 0.6rem 0rem;
  font-weight: bold;
  width: -webkit-fill-available;
  height: 1.5rem;
  text-align: center;
}

.messageBlue {
  width: inherit;
  border: 2px solid;
  border-radius: 0.3rem;
  color: rgb(4, 16, 124);
  box-shadow: inset 0px 0px 25px rgba(53, 171, 250, 0.35);
  border-color: cornflowerblue;
}

.messageRed {
  border: 2px solid;
  border-radius: 0.3rem;
  color: rgb(100, 2, 2);
  box-shadow: inset 0px 0px 25px rgba(251, 92, 92, 0.35);
  border-color: rgb(214, 86, 111);
}

.modal-header {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  padding: 0.5rem;
  border: #72767b solid 1px;
  background-color: #73bcf7;
  margin: -2rem;
  margin-top: -3.5rem;
  margin-bottom: 1rem;
}

.closeButton {
  align-self: flex-end;
  z-index: 2000;
  position: relative;
  top: -1.5rem;
  right: -1.5rem;
}

.loginButton {
  font-weight: bold;
  margin-top: 1rem;
  width: 6rem;
}

.margin {
  margin-left: 4rem;
}

.selfAlignCenter {
  align-self: center;
}

.login {
  align-self: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.item {
  display: inline-flex;
  align-self: stretch;
  justify-content: space-between;
  height: 1.3rem;
  padding: 0.5rem;
  padding-bottom: 0.7rem;
  margin: 0.2rem;
  border: #72767b solid 2px;
  border-radius: 0.3rem;
}
.span {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.itemButtons {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.add-connect-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.connectionAdd {
  color: rgb(51, 55, 59);
  width: 7rem;
  height: 2rem;
  margin-left: 0.2rem;
  font-weight: bold;
}

.overlay {
  opacity: 1;
  visibility: visible;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 3s all;
}

.prompt {
  position: absolute;
  top: 40%;
  left: 20%;
  display: flex;
  font-size: 1.2rem;
  flex-direction: row;
  width: 350px;
  background: white;
  height: -moz-fit-content;
  height: 100px;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.44));
  z-index: 30;
}

.prompt_block {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-self: center;
}
.block_alert {
  width: 3rem;
  height: initial;
  background-color: #c9190b;
}

.block_info {
  width: 3rem;
  height: initial;
  background-color: #c9bc0b;
}

.title {
  font-weight: bold;
  font-size: 1.8rem;
  background-color: #73bcf7;
  text-align: center;
  border-radius: 0.3rem;
}

.button_group {
  margin: 0.9rem 0.3rem 0.7rem;
}

.connect,
.rm {
  color: rgb(51, 55, 59);
  border-radius: 0.3rem;
  width: 2rem;
  height: 2rem;
  margin-top: -0.3rem;
  margin-left: 0.5rem;
}

.text {
  width: 10vw;
  overflow: hidden;
}

.yes,
.no {
  margin: 0.3rem;
}
.WarningIcon {
  position: relative;
  margin-left: 35%;
  margin-top: 45%;
  color: #5a1b17;
}

.infoIcon {
  position: relative;
  margin-left: 25%;
  margin-top: 45%;
  color: #5a5017;
}

.fileName {
  display: inline-flex;
}

.emptyList {
  text-align: center;
  margin-top: 20%;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top: 25vh;
  left: 30vw;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #73bcf7;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 0.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6aabe0;
  border: 2px solid #5a5d61;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5e99c9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 2px solid #72767b;
}

.slider.round:before {
  border-radius: 50%;
}

.popUpCheck {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
  font-weight: bold;
}
