body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  padding-top: 5rem;
 margin-left: 20%;
  width: 60%;
}

.list {
display: flex;
flex-flow: column nowrap;

}

.modal {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  min-width: 25vw;
  width: fit-content;
  background: white;
  height: fit-content;
}

.modal-header {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  height: 3.4rem;
  padding: 0.5rem;
  padding-top: 1.4rem;
  border: #72767B solid 1px;
  background-color: #73BCF7;
  width: 40;
  margin: -2rem;
  margin-top: -3.4rem;
  margin-bottom: 1rem
}

.closeButton {
 align-self: flex-end;
 z-index: 2000;
 position: relative;
 top: -1.5rem;
 right: -1.5rem;
}

.loginButton {
  font-weight: bold;
  margin-top: 1rem;
  width: 6rem;
  align-self:center;
 }

.item {
  display: inline-flex;
  align-self: stretch;
  justify-content: space-between;
  height: 1.3rem;
  padding: 0.5rem;
  padding-bottom:0.7rem ;
  margin:0.2rem;
  border: #72767B solid 2px;
 
}


.connectionAdd {
  font-size: 1rem;
  margin-left: 40px;
  margin-top: 1rem;
  width: fit-content;
  padding: 0.5rem;
  border: 
  #72767B solid 2px;

}
/* .name {
  width: 10vw;
  overflow: hidden;
  right: 7vw;
  position: relative
} */

.title {
  font-weight: bold;
  font-size: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin-left: 40px;
  padding-bottom:1.8rem ;
  border: 
  #72767B solid 1px;
  background-color:#73BCF7 ;
}

.rm {
  color: rgb(51, 55, 59);
  font-size: 1rem;
  border-radius:0.3rem;
  margin-left: 1rem;
}
.connect {
  color:  rgb(51, 55, 59);
  font-size: 1rem;
  border-radius:0.3rem;
}

.text {
 width: 10vw;
  overflow: hidden;
}



 .lds-ellipsis {
  display: inline-block;
  position: absolute;
  top:40vh;
  left:40vw;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background:springgreen;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
